## <u>Name</u> : ADVAIT GURUNATH CHAVAN
## <u>Email</u> : advaitchavan135@gmail.com , advaitchavan.yoshops@gmail.com
## <u>Contact</u> : +91 70214 55852

## A. Write a python program for merge two excel files data to one excel file.

## B. Write a python program to shorting file in different folder means main folder containing 8 excel files. Now after shorting create 2 child folder and store 4 file each folder.

## C. Write a python program to separate duplicate file. Check with mobile number in main excel file and create seperate file and store duplicate file data

## D. Write a python program for Sorting file by keywords.
## input: folder path = text value
## Create new folder=text value
## Search Keyword= text value
## Output: Create folder with input value and inside folder all sorting filesÂ displaying.

In [2]:
#Importing the necessary libraries 
import pandas as pd

In [3]:
Name_and_phone_01_07 = pd.read_excel('Name_and_phone_01_07.xlsx')

In [4]:
Name_and_phone_02_07 = pd.read_excel('Name_and_phone_02_07.xlsx')
Name_and_phone_03_07 = pd.read_excel('Name_and_phone_03_07.xlsx')
Name_and_phone_04_07 = pd.read_excel('Name_and_phone_04_07.xlsx')
Name_and_phone_06_07 = pd.read_excel('Name_and_phone_06_07.xlsx')

Name_and_phone_29_06 = pd.read_excel('Name_and_phone_29_06.xlsx')
Name_and_phone_30_06 = pd.read_excel('Name_and_phone_30_06.xlsx')

## A. Write a python program for merge two excel files data to one file.

In [5]:
df_combine = pd.concat([Name_and_phone_01_07, Name_and_phone_02_07])

In [6]:
df_combine

  Name_of_visitor  Contact_Number
0        NARENDRA      9391193459
1      Prem Kumar      9799818360
2        ramkumar      9962278886
0     Rohit Kumar      9569402314

In [7]:
Name_and_phone_01_07

  Name_of_visitor  Contact_Number
0        NARENDRA      9391193459
1      Prem Kumar      9799818360
2        ramkumar      9962278886

In [8]:
Name_and_phone_02_07

  Name_of_visitor  Contact_Number
0     Rohit Kumar      9569402314

In [9]:
df_combine.to_excel('Name_and_contact_01_07_and_02_07.xlsx', index = False)

In [11]:
Name_and_phone_01_07_and_02_07 = pd.read_excel('Name_and_contact_01_07_and_02_07.xlsx')

In [12]:
Name_and_phone_01_07_and_02_07

  Name_of_visitor  Contact_Number
0        NARENDRA      9391193459
1      Prem Kumar      9799818360
2        ramkumar      9962278886
3     Rohit Kumar      9569402314

## B. Write a python program to shorting file in different folder means main folder containing 8 excel files. Now after shorting create 2 child folder and store 4 file each folder.

In [15]:
import os
import shutil

def sort_files_in_folders(main_folder, num_files_per_folder):
    files = os.listdir(main_folder)
    files.sort()  # Sort the files alphabetically
    
    num_folders = len(files) // num_files_per_folder
    if len(files) % num_files_per_folder != 0:
        num_folders += 1
    
    for i in range(num_folders):
        folder_path = os.path.join(main_folder, f"folder_{i+1}")
        os.makedirs(folder_path, exist_ok=True)
        
        start_index = i * num_files_per_folder
        end_index = start_index + num_files_per_folder
        
        for file_name in files[start_index:end_index]:
            file_path = os.path.join(main_folder, file_name)
            dest_path = os.path.join(folder_path, file_name)
            
            shutil.move(file_path, dest_path)
            
        print(f"{num_files_per_folder} files moved to {folder_path}")

# Example usage
main_folder = r"C:\Users\Advait\Desktop\Yoshops Internships\Project Task - 8\output_project_task_8"
num_files_per_folder = 4

sort_files_in_folders(main_folder, num_files_per_folder)

4 files moved to C:\Users\Advait\Desktop\Yoshops Internships\Project Task - 8\output_project_task_8\folder_1
4 files moved to C:\Users\Advait\Desktop\Yoshops Internships\Project Task - 8\output_project_task_8\folder_2

## C. Write a python program to separate duplicate file. Check with mobile number in main excel file and create seperate file and store duplicate file data

In [17]:
df_combine_07 = pd.concat([Name_and_phone_01_07, Name_and_phone_02_07,Name_and_phone_03_07,Name_and_phone_04_07,Name_and_phone_06_07])

In [18]:
df_combine_06 = pd.concat([Name_and_phone_29_06, Name_and_phone_30_06])

In [21]:
df_combine_06_07 = pd.concat([df_combine_06, df_combine_07])

In [23]:
df_combine_06_07.to_excel('main.xlsx', index=False)

In [24]:
main_file = pd.read_excel('main.xlsx')

In [25]:
main_file

          Name_of_visitor  Contact_Number
0            Sagar Bhadge      8459599718
1                   Reena      9528692288
2      G. Balasubramanian      9123557647
3          Manoj Pattnaik      8280021014
4             Nitin kumar      9304522101
5            Avnish kumar      6200028123
6       HAMMAD BIN NAVEED      3181982707
7                NARENDRA      9391193459
8              Prem Kumar      9799818360
9                ramkumar      9962278886
10            Rohit Kumar      9569402314
11                 Kamini      8767852141
12         Rajkabir Diwan      8815007851
13                Piryesh      7073128350
14                   Anne      6382105605
15          Nelson Friday      8164881200
16               Rajkabir      8815007851
17                   Anil      9515654885
18                Sandhya      9154940621
19   Dev Kanishka Kashyap      7277862208

In [35]:
import pandas as pd
import shutil
import os

def separate_duplicate_files(main_excel_file, output_folder):
    # Load main Excel file
    df_main = pd.read_excel(main_excel_file)
    
    # Convert 'Mobile Number' column to string
    df_main['Mobile Number'] = df_main['Mobile Number'].astype(str)
    
    # Find duplicate mobile numbers in main Excel file
    duplicate_mobile_numbers = df_main['Mobile Number'].duplicated(keep=False)
    
    # Create output folder if it doesn't exist
    os.makedirs(output_folder, exist_ok=True)
    
    # Iterate over rows and separate duplicate files
    for index, is_duplicate in enumerate(duplicate_mobile_numbers):
        if is_duplicate:
            mobile_number = df_main.loc[index, 'Mobile Number']
            file_name = df_main.loc[index, 'File Name']
            file_path = df_main.loc[index, 'File Path']
            
            destination_folder = os.path.join(output_folder, mobile_number)
            os.makedirs(destination_folder, exist_ok=True)
            
            destination_path = os.path.join(destination_folder, file_name)
            shutil.copy(file_path, destination_path)
            
            print(f"Duplicated file '{file_name}' copied to '{destination_folder}'")

# Example usage
main_excel_file = "main_file.xlsx"
output_folder = "duplicates"

separate_duplicate_files(main_excel_file, output_folder)

Duplicated file 'file1.txt' copied to 'duplicates\1234567890'
Duplicated file 'file2.txt' copied to 'duplicates\2345678901'
Duplicated file 'file3.txt' copied to 'duplicates\1234567890'
Duplicated file 'file5.txt' copied to 'duplicates\2345678901'

## D. Write a python program for Sorting file by keywords.
## input: folder path = text value
## Create new folder=text value
## Search Keyword= text value
## Output: Create folder with input value and inside folder all sorting files displaying.

In [36]:
import os
import shutil

def sort_files_by_keyword(folder_path, new_folder_name, search_keyword):
    # Create a new folder with the provided text value
    new_folder_path = os.path.join(folder_path, new_folder_name)
    os.makedirs(new_folder_path, exist_ok=True)

    # Get a list of files in the input folder
    files = os.listdir(folder_path)

    # Iterate over files and move those containing the search keyword to the new folder
    for file in files:
        file_path = os.path.join(folder_path, file)
        if os.path.isfile(file_path) and search_keyword in file:
            destination_path = os.path.join(new_folder_path, file)
            shutil.move(file_path, destination_path)
            print(f"Moved file '{file}' to folder '{new_folder_name}'")

# Example usage
folder_path = r"C:\Users\Advait\Desktop\Yoshops Internships\Project Task - 8"
new_folder_name = "Sorted_Files"
search_keyword = "file"

sort_files_by_keyword(folder_path, new_folder_name, search_keyword)

Moved file 'file1.txt' to folder 'Sorted_Files'
Moved file 'file2.txt' to folder 'Sorted_Files'
Moved file 'file3.txt' to folder 'Sorted_Files'
Moved file 'file4.txt' to folder 'Sorted_Files'
Moved file 'file5.txt' to folder 'Sorted_Files'
Moved file 'main_file.xlsx' to folder 'Sorted_Files'