# Yoshops Data Science Intern Week 1 Task 5
# Python program for Extracting mobile no from Json file and save into MS excel

## <u>Name</u> : ADVAIT GURUNATH CHAVAN
## <u>Email id</u> : advaitchavan135@gmail.com , advaitchavan.yoshops@gmail.com
## <u>Contact</u> : +91 70214 55852

In [1]:
#Importing the dependencies
import json
import os
import seaborn as sns
import pandas as pd

### Setting the path for date 29/06/2022

In [2]:
path_29_06 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/06/29/'
files_29_06 = [i for i in os.listdir(path_29_06) if i.endswith('.json')]

In [3]:
# Viewing the json files in the directory of set path
print(files_29_06)

['62c072d0-f795-11ec-9702-4165492261e7.json', '6bdba4c0-f74a-11ec-a0c1-0d2e72636470.json', '91705eb0-f7b3-11ec-9880-c1e4eddaee78.json', 'd4318e80-f773-11ec-a098-35551501145d.json']

In [4]:
list_29_06 = []

In [21]:
for i in files_29_06:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/06/29/" + i,'r') as json_29_06:
        json_data_29_06 = json.load(json_29_06)
        messages = json_data_29_06['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_29_06.append(dict)

In [16]:
 messages

[{'sender': {'t': 's'},
  'type': 'msg',
  'time': '2022-06-29T10:22:56.586Z',
  'msg': 'Welcome to Yoshops.com, If you need help simply reply to this message with your Name and your  Mobile number. We like to contact you to help.\nOr Whatsapp =+91-9080749858'},
 {'sender': {'t': 'v'},
  'type': 'msg',
  'time': '2022-06-29T10:23:31.116Z',
  'msg': 'Name : Sagar Bhadge\r\nPhone : 8459599718'}]

In [17]:
messages_values

dict_values([{'t': 'v'}, 'msg', '2022-06-29T10:23:31.116Z', 'Name : Sagar Bhadge\r\nPhone : 8459599718'])

In [18]:
 messages_values_list

[{'t': 'v'},
 'msg',
 '2022-06-29T10:23:31.116Z',
 'Name : Sagar Bhadge\r\nPhone : 8459599718']

In [22]:
phone

' 8280021014'

In [23]:
name

['Name ', ' Manoj Pattnaik\r\nPhone ', ' 8280021014']

In [24]:
name_list

' Manoj Pattnaik'

In [25]:
dict

{'Name_of_visitor': ' Manoj Pattnaik', 'Contact_Number': ' 8280021014'}

In [26]:
list_29_06

[{'Name_of_visitor': ' Sagar Bhadge', 'Contact_Number': ' 8459599718'},
 {'Name_of_visitor': ' Reena', 'Contact_Number': ' 9528692288'},
 {'Name_of_visitor': ' G. Balasubramanian', 'Contact_Number': ' 9123557647'},
 {'Name_of_visitor': ' Manoj Pattnaik', 'Contact_Number': ' 8280021014'}]

In [29]:
#Converting list to dataframe
df_29_06 = pd.DataFrame(data=list_29_06)

In [30]:
#Viewing the created dataframe
df_29_06

       Name_of_visitor Contact_Number
0         Sagar Bhadge     8459599718
1                Reena     9528692288
2   G. Balasubramanian     9123557647
3       Manoj Pattnaik     8280021014

In [37]:
#Saving Dataframe to excel file
df_29_06.to_excel('Name_and_phone_29_06.xlsx',index=False)

In [38]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_29_06.xlsx')

In [39]:
test_df

       Name_of_visitor  Contact_Number
0         Sagar Bhadge      8459599718
1                Reena      9528692288
2   G. Balasubramanian      9123557647
3       Manoj Pattnaik      8280021014

### Setting path for date 30/06/2022

In [40]:
path_30_06 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/06/30/'
files_30_06 = [i for i in os.listdir(path_30_06) if i.endswith('.json')]

In [41]:
# Viewing the json files in the directory of set path
print(files_30_06)

['05ae88c0-f871-11ec-a0b8-d9e10e7c0f2d.json', 'c37068b0-f80d-11ec-838e-b9a87975b9e3.json', 'e81d80c0-f881-11ec-a1de-117adac26d8b.json']

In [42]:
list_30_06 = []

In [43]:
for i in files_30_06:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/06/30/" + i,'r') as json_30_06:
        json_data_30_06 = json.load(json_30_06)
        messages = json_data_30_06['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_30_06.append(dict)

In [44]:
 messages

[{'sender': {'t': 's'},
  'type': 'msg',
  'time': '2022-06-30T14:35:49.350Z',
  'msg': 'Welcome to Yoshops.com, If you need help simply reply to this message with your Name and your  Mobile number. We like to contact you to help.\nOr Whatsapp =+91-9080749858'},
 {'sender': {'t': 'v'},
  'type': 'msg',
  'time': '2022-06-30T14:37:42.791Z',
  'msg': 'Name : HAMMAD BIN NAVEED\r\nPhone : 03181982707'}]

In [45]:
messages_values

dict_values([{'t': 'v'}, 'msg', '2022-06-30T14:37:42.791Z', 'Name : HAMMAD BIN NAVEED\r\nPhone : 03181982707'])

In [46]:
 messages_values_list

'Name : HAMMAD BIN NAVEED\r\nPhone : 03181982707'

In [47]:
phone

' 03181982707'

In [48]:
name

['Name ', ' HAMMAD BIN NAVEED\r\nPhone ', ' 03181982707']

In [49]:
name_list

' HAMMAD BIN NAVEED'

In [50]:
dict

{'Name_of_visitor': ' HAMMAD BIN NAVEED', 'Contact_Number': ' 03181982707'}

In [51]:
list_30_06

[{'Name_of_visitor': ' Nitin kumar', 'Contact_Number': ' 9304522101'},
 {'Name_of_visitor': ' Avnish kumar', 'Contact_Number': ' 6200028123'},
 {'Name_of_visitor': ' HAMMAD BIN NAVEED', 'Contact_Number': ' 03181982707'}]

In [52]:
#Converting list to dataframe
df_30_06 = pd.DataFrame(data=list_30_06)

In [53]:
#Viewing the created dataframe
df_30_06

      Name_of_visitor Contact_Number
0         Nitin kumar     9304522101
1        Avnish kumar     6200028123
2   HAMMAD BIN NAVEED    03181982707

In [54]:
#Saving Dataframe to excel file
df_30_06.to_excel('Name_and_phone_30_06.xlsx',index=False)

In [55]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_30_06.xlsx')

In [56]:
test_df

      Name_of_visitor  Contact_Number
0         Nitin kumar      9304522101
1        Avnish kumar      6200028123
2   HAMMAD BIN NAVEED      3181982707

### Setting up path for 01/07/2022

In [57]:
path_01_07 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/01/'
files_01_07 = [i for i in os.listdir(path_01_07) if i.endswith('.json')]

In [58]:
# Viewing the json files in the directory of set path
print(files_01_07)

['01f163d0-f8ec-11ec-9ba6-1f4331c726ac.json', '69c41d60-f921-11ec-b076-f5d0ec16503b.json', 'cce9c410-f91e-11ec-ac48-9f85e64f2db4.json']

In [59]:
list_01_07 = []

In [60]:
for i in files_01_07:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/01/" + i,'r') as json_01_07:
        json_data_01_07 = json.load(json_01_07)
        messages = json_data_01_07['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_01_07.append(dict)

In [61]:
list_01_07

[{'Name_of_visitor': ' NARENDRA', 'Contact_Number': ' 9391193459'},
 {'Name_of_visitor': ' Prem Kumar', 'Contact_Number': ' 9799818360'},
 {'Name_of_visitor': ' ramkumar', 'Contact_Number': ' 9962278886'}]

In [62]:
#Converting list to dataframe
df_01_07 = pd.DataFrame(data=list_01_07)

In [63]:
#Viewing the created dataframe
df_01_07

  Name_of_visitor Contact_Number
0        NARENDRA     9391193459
1      Prem Kumar     9799818360
2        ramkumar     9962278886

In [64]:
#Saving Dataframe to excel file
df_01_07.to_excel('Name_and_phone_01_07.xlsx',index=False)

In [65]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_01_07.xlsx')

In [66]:
test_df

  Name_of_visitor  Contact_Number
0        NARENDRA      9391193459
1      Prem Kumar      9799818360
2        ramkumar      9962278886

### Setting path for 02/07/2022

In [67]:
path_02_07 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/02/'
files_02_07 = [i for i in os.listdir(path_02_07) if i.endswith('.json')]

In [68]:
# Viewing the json files in the directory of set path
print(files_02_07)

['102ea5b0-fa46-11ec-af59-f3d89214e142.json']

In [69]:
list_02_07 = []

In [71]:
for i in files_02_07:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/02/" + i,'r') as json_02_07:
        json_data_02_07 = json.load(json_02_07)
        messages = json_data_02_07['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_02_07.append(dict)

In [72]:
list_02_07

[{'Name_of_visitor': ' Rohit Kumar', 'Contact_Number': ' 9569402314'}]

In [73]:
#Converting list to dataframe
df_02_07 = pd.DataFrame(data=list_02_07)

In [74]:
#Viewing the created dataframe
df_02_07

  Name_of_visitor Contact_Number
0     Rohit Kumar     9569402314

In [75]:
#Saving Dataframe to excel file
df_02_07.to_excel('Name_and_phone_02_07.xlsx',index=False)

In [76]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_02_07.xlsx')

In [77]:
test_df

  Name_of_visitor  Contact_Number
0     Rohit Kumar      9569402314

### Setting up path for 03/07/2022

In [78]:
path_03_07 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/03/'
files_03_07 = [i for i in os.listdir(path_03_07) if i.endswith('.json')]

In [79]:
# Viewing the json files in the directory of set path
print(files_03_07)

['1b33d1d0-fb02-11ec-8013-c5c03606d8bf.json', '4c818cf1-fac6-11ec-9f8e-3f678721a566.json', '4fbd1cd0-faae-11ec-bd7f-cdb777eaba53.json']

In [80]:
list_03_07 = []

In [81]:
for i in files_03_07:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/03/" + i,'r') as json_03_07:
        json_data_03_07 = json.load(json_03_07)
        messages = json_data_03_07['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_03_07.append(dict)

In [82]:
list_03_07

[{'Name_of_visitor': ' Kamini', 'Contact_Number': ' 8767852141'},
 {'Name_of_visitor': ' Rajkabir Diwan', 'Contact_Number': ' 8815007851'},
 {'Name_of_visitor': ' Piryesh', 'Contact_Number': ' 7073128350'}]

In [84]:
#Converting list to dataframe
df_03_07 = pd.DataFrame(data=list_03_07)

In [85]:
#Viewing the created dataframe
df_03_07

   Name_of_visitor Contact_Number
0           Kamini     8767852141
1   Rajkabir Diwan     8815007851
2          Piryesh     7073128350

In [86]:
#Saving Dataframe to excel file
df_03_07.to_excel('Name_and_phone_03_07.xlsx',index=False)

In [87]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_03_07.xlsx')

In [88]:
test_df

   Name_of_visitor  Contact_Number
0           Kamini      8767852141
1   Rajkabir Diwan      8815007851
2          Piryesh      7073128350

### Setting up path for 04/07/2022

In [89]:
path_04_07 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/04/'
files_04_07 = [i for i in os.listdir(path_04_07) if i.endswith('.json')]

In [90]:
# Viewing the json files in the directory of set path
print(files_04_07)

['067d5e81-fbb3-11ec-8622-bd773bafcd43.json', '612aefb0-fbbc-11ec-a27e-3b71999c2723.json', 'a95bb3f0-fb44-11ec-a242-a546b3d938a3.json', 'aa94a550-fb95-11ec-a7a6-3366c8149bd7.json']

In [91]:
list_04_07 = []

In [92]:
for i in files_04_07:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/04/" + i,'r') as json_04_07:
        json_data_04_07 = json.load(json_04_07)
        messages = json_data_04_07['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_04_07.append(dict)

In [93]:
list_04_07

[{'Name_of_visitor': ' Anne', 'Contact_Number': ' 6382105605'},
 {'Name_of_visitor': ' Nelson Friday', 'Contact_Number': ' 08164881200'},
 {'Name_of_visitor': ' Rajkabir', 'Contact_Number': ' 8815007851'},
 {'Name_of_visitor': ' Anil', 'Contact_Number': ' 9515654885'}]

In [94]:
#Converting list to dataframe
df_04_07 = pd.DataFrame(data=list_04_07)

In [95]:
#Viewing the created dataframe
df_04_07

  Name_of_visitor Contact_Number
0            Anne     6382105605
1   Nelson Friday    08164881200
2        Rajkabir     8815007851
3            Anil     9515654885

In [96]:
#Saving Dataframe to excel file
df_04_07.to_excel('Name_and_phone_04_07.xlsx',index=False)

In [97]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_04_07.xlsx')

In [98]:
test_df

  Name_of_visitor  Contact_Number
0            Anne      6382105605
1   Nelson Friday      8164881200
2        Rajkabir      8815007851
3            Anil      9515654885

### Setting up path for 06/07/2022

In [99]:
path_06_07 = '/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/06/'
files_06_07 = [i for i in os.listdir(path_06_07) if i.endswith('.json')]

In [100]:
# Viewing the json files in the directory of set path
print(files_06_07)

['d2435130-fd54-11ec-a14b-4b9a499f8801.json', 'dbd828e0-fd6a-11ec-a14b-4b9a499f8801.json']

In [101]:
list_06_07 = []

In [102]:
for i in files_06_07:
    dict={}
    with open("/Users/Advait/Desktop/Yoshops Internships/Week 1 Personal Task/Week 1 Task 5/contact_data/1657173630381_5042579018065678/chats/2022/07/06/" + i,'r') as json_06_07:
        json_data_06_07 = json.load(json_06_07)
        messages = json_data_06_07['messages'] #Accessing the 'messages'
        messages_values = messages[1].values() #Accessing the keys and values in 'messages' in form of dictionary
        messages_values_list = list(messages_values)[3] #Converting the dictionary to list
        phone = messages_values_list.split(":")[2] #Accesing the 'phone' part of the list which is at position 3 in list created in previous step
        name = messages_values_list.split(":") #Splitting names and phone
        name_list = name[1].split('\r\n')[0] #accessing names
        dict['Name_of_visitor'] = name_list #Creating a dict with name_list as key
        dict['Contact_Number'] = phone      #and phone number as its value
        list_06_07.append(dict)

In [103]:
list_06_07

[{'Name_of_visitor': ' Sandhya', 'Contact_Number': ' 9154940621'},
 {'Name_of_visitor': ' Dev Kanishka Kashyap', 'Contact_Number': ' 7277862208'}]

In [109]:
#Converting list to dataframe
df_06_07 = pd.DataFrame(data=list_06_07)

In [110]:
#Viewing the created dataframe
df_06_07

         Name_of_visitor Contact_Number
0                Sandhya     9154940621
1   Dev Kanishka Kashyap     7277862208

In [111]:
#Saving Dataframe to excel file
df_06_07.to_excel('Name_and_phone_06_07.xlsx',index=False)

In [112]:
#Viewing the saved excel file
test_df = pd.read_excel('Name_and_phone_06_07.xlsx')

In [113]:
test_df

         Name_of_visitor  Contact_Number
0                Sandhya      9154940621
1   Dev Kanishka Kashyap      7277862208